*{

  padding: 0;

  margin: 0;

  font-family: 'Francois One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#header{

  width: 100%;

  height: 150px;

  display: inline-block;

  background: linear-gradient(#000000, #000025);

  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  

  

}

#main div img{
  width: 100%;
}
img{
  width: 200px;
  
}
#header h1{

  animation: mymove 4s infinite;
  line-height: 5rem;

}

#main h1{
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#logo{

  max-width: 100px;

  min-width: 100px;

  

}







#main img{

  width: 100%;

}



#main div h1{

  margin-top: -100px;

  font-size: 20px;

  text-transform: uppercase;

  color: white;

  margin-bottom: 40px;

}
#logo{
  max-width: 100px;
  min-width: 100px;
  animation: logo-anim 4s;
}
a:hover{

  text-decoration: underline;

}
#mobile{
  position: absolute;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  transform: scale(2.5);
  padding-left: 60px;
  width: 100%;
}
#footer{

  width: 100%;

  display: flex;

  background-color: #333;

  justify-content: space-evenly;

}

#footer a{

  color: white;

  text-decoration: none;

  font-size: 12px;

}

.prices{

  display: none;

}
.externals{
  
  justify-content: center;
  border: 1px solid black;
  padding: 50px;
  margin: 20px;
  line-height: 2rem;
}

@keyframes mymove {

  0%   {transform: scale(2,2);}

  25%  {transform: scale(2,3);}

  50%  {transform: scale(2,4);}

  75%  {transform: scale(2,3);}

  100% {transform: scale(2,2);}

}
@keyframes logo-anim {
  0%   {
  	/*transform: scale(2,2);*/
		transform: translateY(20deg);
		}
  25%  {
	border-radius: 5%;
	transform: translateY(-190px);
	}
  50%  {border-radius: 15%;;}
  75%  {border-radius: 10%;;}
  100% {border-radius: 5%;;
	}
}


@media only screen and (max-width: 600px){

  
  #header{
    display: none;
  
  }
 #mobile{
  position: absolute;
  display: block;
  color: white;
  top: 12%;
  right: 2%;
  transform: scale(1);
 }
 #logo{
  display: none;
 }
}

